.box{
  background: #ffffff;
  .law{
    display: flex;
    flex-wrap: wrap;
    &>div{
      width: 50%;
    }
  }
  .w1{
    width: 50%;
    min-width: 200px;
  }
  .tab{
    & > div{
      margin: 10px 90px;
    }
    & > button{
      margin: 5px auto;
      display: block;
    }
  }
  .m90{
    margin: 10px 90px;
  }
  .btn{
    width: 40%;
    margin: 0 auto;
    display: block;
  }
}
